n8n-workflows/CalendarSync_Engine.json
{
  "name": "CalendarSync_Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "79664c16-e306-46a3-970c-fa3d322afee6",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 62384036,
          "mode": "list",
          "cachedResultName": "Rules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit#gid=62384036"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "enabled",
              "lookupValue": "true"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "a0e5d388-510f-45e6-be45-4b2d86f3a560",
      "name": "Get Enabled Rules",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        464,
        -192
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 6939085,
          "mode": "list",
          "cachedResultName": "Calendars",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit#gid=6939085"
        },
        "options": {}
      },
      "id": "5a937d3f-3d44-4271-a293-fff5487be7ac",
      "name": "Get All Calendars",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        464,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit?usp=sharing"
        },
        "sheetName": {
          "__rl": true,
          "value": 1058949679,
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vs6MdV4mgIIqiuy837wNCPQzIj71MgjdvqpE0d0kego/edit#gid=1058949679"
        },
        "options": {}
      },
      "id": "789e58b8-a685-48c2-b7d4-98aace768557",
      "name": "Get All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        464,
        192
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        -16
      ],
      "id": "ecfc3cdf-6860-497d-b20b-f7120cf901f5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Combine rules with calendar details\nconst rules = $('Get Enabled Rules').all();\nconst calendars = $('Get All Calendars').all();\nconst users = $('Get All Users').all();\n\n// Create lookup maps\nconst calendarMap = {};\ncalendars.forEach(cal => {\n  calendarMap[cal.json.calendar_id] = cal.json;\n});\n\nconst userMap = {};\nusers.forEach(user => {\n  userMap[user.json.user_id] = user.json;\n});\n\n// Build sync jobs\nconst syncJobs = [];\n\nfor (const rule of rules) {\n  const r = rule.json;\n  \n  // Skip if not enabled\n  if (r.enabled !== 'TRUE' && r.enabled !== true) continue;\n  \n  const sourceCal = calendarMap[r.source_cal_id];\n  const targetCal = calendarMap[r.target_cal_id];\n  const user = userMap[r.user_id];\n  \n  if (!sourceCal || !targetCal || !user) {\n    continue; // Skip invalid rules\n  }\n  \n  syncJobs.push({\n    rule_id: r.rule_id,\n    user_id: r.user_id,\n    user_email: user.email,\n    source_calendar_email: sourceCal.calendar_email,\n    source_calendar_name: sourceCal.calendar_name,\n    target_calendar_email: targetCal.calendar_email,\n    target_calendar_name: targetCal.calendar_name,\n    visibility: r.visibility || 'censored'\n  });\n}\n\nif (syncJobs.length === 0) {\n  return [{ json: { noJobs: true, message: 'No valid sync jobs found' } }];\n}\n\nreturn syncJobs.map(job => ({ json: job }));"
      },
      "id": "de24a060-7260-4deb-94f1-708d3af6d526",
      "name": "Build Sync Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-jobs",
              "leftValue": "={{ $json.noJobs }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba29030f-e1a3-467c-bbff-ec12f26a2a5a",
      "name": "Has Sync Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.source_calendar_email) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "maxResults",
              "value": "250"
            }
          ]
        },
        "options": {}
      },
      "id": "3f46be21-4af2-40d2-9806-cafd051f6e1a",
      "name": "Fetch Source Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -192
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.target_calendar_email) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "maxResults",
              "value": "250"
            },
            {
              "name": "privateExtendedProperty",
              "value": "=syncedFrom={{ $json.source_calendar_email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b66dbf07-d2bc-4b94-82ab-8580c99adc99",
      "name": "Fetch Existing Synced Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get ALL items from both fetches and sync jobs\nconst sourceItems = $('Fetch Source Events').all();\nconst existingItems = $('Fetch Existing Synced Events').all();\nconst syncJobs = $('Has Sync Jobs?').all();\n\nconst allActions = [];\n\n// Process each rule with its matching data\nfor (let i = 0; i < syncJobs.length; i++) {\n  const syncJob = syncJobs[i].json;\n  const sourceData = sourceItems[i]?.json || { items: [] };\n  const existingData = existingItems[i]?.json || { items: [] };\n  \n  // Handle errors\n  if (sourceData.error) {\n    allActions.push({ \n      json: { \n        error: true, \n        message: `Failed to fetch source: ${sourceData.error.message || 'Unknown error'}`,\n        rule_id: syncJob.rule_id\n      } \n    });\n    continue;\n  }\n\n  const sourceEvents = sourceData.items || [];\n  const existingSynced = existingData.items || [];\n\n  // Build map of existing synced events: originalEventId -> targetEvent\n  const syncedMap = {};\n  for (const ev of existingSynced) {\n    const origId = ev.extendedProperties?.private?.originalEventId;\n    if (origId) {\n      syncedMap[origId] = ev;\n    }\n  }\n\n  // Determine actions\n  const processedSourceIds = new Set();\n\n  for (const event of sourceEvents) {\n    // Skip cancelled events\n    if (event.status === 'cancelled') continue;\n    \n    // Skip \"free\" events (transparent)\n    if (event.transparency === 'transparent') continue;\n    \n    // Skip events that were synced FROM another calendar (prevent echo/loop)\n    if (event.extendedProperties?.private?.syncedFrom) continue;\n    \n    processedSourceIds.add(event.id);\n    \n    const isCensored = syncJob.visibility === 'censored';\n    const existing = syncedMap[event.id];\n    \n    const eventData = {\n      rule_id: syncJob.rule_id,\n      target_calendar_email: syncJob.target_calendar_email,\n      source_event_id: event.id,\n      summary: isCensored ? `Busy — ${syncJob.source_calendar_name}` : event.summary,\n      description: isCensored ? `Synced from ${syncJob.source_calendar_name}` : (event.description || ''),\n      start: event.start,\n      end: event.end,\n      location: isCensored ? '' : (event.location || ''),\n      extendedProperties: {\n        private: {\n          syncedFrom: syncJob.source_calendar_email,\n          originalEventId: event.id\n        }\n      }\n    };\n    \n    if (existing) {\n      // Check if times changed or visibility changed\n      const startChanged = (event.start.dateTime || event.start.date) !== (existing.start.dateTime || existing.start.date);\n      const endChanged = (event.end.dateTime || event.end.date) !== (existing.end.dateTime || existing.end.date);\n      const summaryChanged = eventData.summary !== existing.summary;\n      \n      if (startChanged || endChanged || summaryChanged) {\n        // UPDATE\n        allActions.push({\n          json: {\n            action: 'update',\n            target_event_id: existing.id,\n            ...eventData\n          }\n        });\n      }\n      // else: no change, skip\n    } else {\n      // CREATE\n      allActions.push({\n        json: {\n          action: 'create',\n          ...eventData\n        }\n      });\n    }\n  }\n\n  // Find orphans (events in target that no longer exist in source)\n  for (const [origId, targetEvent] of Object.entries(syncedMap)) {\n    if (!processedSourceIds.has(origId)) {\n      // DELETE orphan\n      allActions.push({\n        json: {\n          action: 'delete',\n          target_calendar_email: syncJob.target_calendar_email,\n          target_event_id: targetEvent.id,\n          rule_id: syncJob.rule_id\n        }\n      });\n    }\n  }\n}\n\nif (allActions.length === 0) {\n  return [{ json: { noActions: true, message: 'Everything in sync' } }];\n}\n\nreturn allActions;"
      },
      "id": "0a325479-7cf2-4d09-ad0a-9baf42f715cd",
      "name": "Compare & Plan Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-actions",
              "leftValue": "={{ $json.noActions }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7bb7c9e-ac98-466c-9081-f4f12b35026a",
      "name": "Has Actions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2032,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-create",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fcd17a59-6240-46d4-8d70-d9b349b624d6",
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2256,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12e1091b-03b1-4aab-aec3-17e9521ab799",
      "name": "Is Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2256,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.target_calendar_email) }}/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description || '') }},\n  \"start\": {{ JSON.stringify($json.start) }},\n  \"end\": {{ JSON.stringify($json.end) }},\n  \"location\": {{ JSON.stringify($json.location || '') }},\n  \"transparency\": \"opaque\",\n  \"visibility\": \"private\",\n  \"colorId\": \"8\",\n  \"extendedProperties\": {{ JSON.stringify($json.extendedProperties) }}\n}",
        "options": {}
      },
      "id": "92dcc071-35c8-4b2e-8dc2-60c570e28a97",
      "name": "Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        -288
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.target_calendar_email) }}/events/{{ encodeURIComponent($json.target_event_id) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description || '') }},\n  \"start\": {{ JSON.stringify($json.start) }},\n  \"end\": {{ JSON.stringify($json.end) }},\n  \"location\": {{ JSON.stringify($json.location || '') }},\n  \"transparency\": \"opaque\",\n  \"visibility\": \"private\",\n  \"colorId\": \"8\",\n  \"extendedProperties\": {{ JSON.stringify($json.extendedProperties) }}\n}",
        "options": {}
      },
      "id": "5784f059-9e62-4421-ac13-bbe20dbf9720",
      "name": "Update Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        96
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.target_calendar_email) }}/events/{{ encodeURIComponent($json.target_event_id) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "3bb2fd66-ed69-47a0-8e79-4e535676187d",
      "name": "Delete Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        -96
      ],
      "credentials": {
        "googleApi": {
          "id": "DDmiUsAC67Vo3ANj",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2704,
        -112
      ],
      "id": "b8b78f65-b802-4f26-ae08-b4dd01584a7d",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Log sync results\nconst results = $input.all();\n\nconst created = results.filter(r => r.json.status === 'confirmed' && !r.json.updated).length;\nconst updated = results.filter(r => r.json.updated).length;\nconst deleted = results.filter(r => r.json.kind === undefined && !r.json.error).length;\nconst errors = results.filter(r => r.json.error).length;\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  created,\n  updated,\n  deleted,\n  errors,\n  total: results.length\n};\n\nconsole.log('Sync completed:', JSON.stringify(summary));\n\nreturn [{ json: summary }];"
      },
      "id": "f67e6e05-29df-482f-807b-b15b555259fc",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// No jobs to process\nreturn [{ json: { message: 'No sync jobs - nothing to do', timestamp: new Date().toISOString() } }];"
      },
      "id": "b8ed85a2-eed2-43da-b2f0-1d7fb6389901",
      "name": "No Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        192
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        -96
      ],
      "id": "1ce879aa-5d99-4d85-89e0-a168b1c6a037",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Enabled Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Calendars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Enabled Rules": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Calendars": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get All Users": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Sync Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Jobs": {
      "main": [
        [
          {
            "node": "Has Sync Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Sync Jobs?": {
      "main": [
        [
          {
            "node": "Fetch Source Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Existing Synced Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Events": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing Synced Events": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare & Plan Actions": {
      "main": [
        [
          {
            "node": "Has Actions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Actions?": {
      "main": [
        [
          {
            "node": "Is Create?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Create?": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Update Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Delete Event": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Compare & Plan Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0050176e-2ca1-4f7c-86e3-003c20407d34",
  "meta": {
    "instanceId": "8a136600058d5c94e6d06a7d1e649e765034d5df154553535446dc37c60fe405"
  },
  "id": "crDV5pxIuDYXDk5x",
  "tags": []
}
